/*This is the body - General Styling*/

body {
	margin: 0;
}

/**** HEADER STYLING ****/

header {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 5px;
}

h1 {
	margin: 0;
}

/**** ASIDE STYLING ****/
s
aside {
	line-height: 30px;
	background-color: #eeeeee;
	height: 300px;
	width: 100px;
	float: left;
	padding: 10px 0 0 30px;
}


/**** SECTION STYLING ****/

section {
	width: 450px;
	float: left;
	padding: 40px 0 0 60px;
}

/**** DIV STYLING ****/

.straight {
	background-color: #4183D7;
	clear: both;
	height: 200px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: white;
	transform: rotate(-1deg);


}

/**** class colour styling ****/

.colour {
	background-color: #4183D7;
	height: 199px;
	clear: both;
}


/**** SLANT STYLING ****/

.slant {
	background-color: #4183D7;
	width: 5000px;
	height: 100px;
	transform: rotate(2deg);
	box-shadow: 9px -30px 0px 5px #4183D7;
}




/**** FOOTER STYLING ****/

footer {
	background-color: #000;
	color: #fff;
	text-align: center;
	clear: both;
	padding: 5px;

}



/**** outside box ****/

.outside {
	margin: auto 0;
	border: red #663399 5px;
	height: 500px;
	text-align: center;
}

/*.line-1 {
	background-color: blue;
	color: #fff;
	padding: 50px 0 0 0;
	text-align: center;
}*/

.line-1 p {
		background-color: #81CFE0;
	color: #fff;
	margin: 250px 0 0 0;
	text-align: center;
	transform: rotate(20deg);
}

.line-2 {
	background-color: #336E7B;
	color: #fff;
	transform: rotate(-900deg);
}


.line-3 {
	background-color: #3A539B;
	color: #fff;
	transform: rotate(-20deg);
}
.line-4 {
	background-color: #89C4F4;
	color: #fff;
	transform: rotate(-45deg);
	width: 100%;
}
.line-5 {
	background-color: #BE90D4;
	color: #fff;
	transform: rotate(80deg);
}


